---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import ListPreview from '../../components/ListPreview.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sortItemsByDateDesc } from '../../utils/data-utils';

export async function getStaticPaths() {
    const lists = (await getCollection('lists')).sort(sortItemsByDateDesc);
    const listCount = lists.length;
    return lists.map((list, index) => ({
        params: { id: list.id },
        props: {
            list,
            prevProject: index + 1 !== listCount ? lists[index + 1] : null,
            nextProject: index !== 0 ? lists[index - 1] : null
        }
    }));
}

type Props = {
    list: CollectionEntry<'lists'>;
    prevProject: CollectionEntry<'lists'>;
    nextProject: CollectionEntry<'lists'>;
};

const { list, prevProject, nextProject } = Astro.props;
const { title, description, seo } = list.data;
const { Content } = await render(list);
---

<BaseLayout title={seo?.title ?? title} description={seo?.description ?? description} image={seo?.image} pageType="article" showHeader={false}>
    <article class="mb-16 sm:mb-24">
        <header class="mb-8">
            <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">{title}</h1>
        </header>
        <div class="max-w-none prose sm:prose-lg">
            <Content />
        </div>
    </article>
    {
        (prevProject || nextProject) && (
            <div class="my-16 sm:my-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">View Next</h2>
                {nextProject && <ListPreview list={nextProject} class="mb-10 sm:mb-12" headingLevel="h3" />}
                {prevProject && <ListPreview list={prevProject} class="mb-10 sm:mb-12" headingLevel="h3" />}
            </div>
        )
    }
</BaseLayout>
